@import "tailwindcss";

body{
  overflow-x: hidden;
}

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}

.moveLink{
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .moveLink{
opacity: 1;
} 

.moveHeading {
  animation-name: moveAnimations;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimations {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}